header {
  background-color: grey;
  height: 50px;
  padding: 10px;
  margin: 0px;
  margin-bottom: 10px;
}
footer {
  background-color: grey;
  padding: 10px;
  width: 100%;
  height: 50px;
  margin-top: 10px;
}

.outer {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

#b1 {
  background-color: greenyellow;
  flex-grow: 2;
  order: 1;
}
#b2 {
  background-color: green;
  flex-grow: 1;
  order: 0;
}
#b3 {
  background-color: yellow;
  flex-grow: 1;
  order: 2;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0px;
}
html {
  height: 100%;
}

@media (max-width: 992px) {
  .outer {
    flex-direction: row;
    flex-wrap: wrap;
  }
  #b1 {
    background-color: greenyellow;
    order: 0;
    width: 100%;
    height: 60%;

  }
  #b2 {
    background-color: green;
    order: 0;
    width: 50%;
    height: 40%;
  }
  #b3 {
    background-color: yellow;
    order: 0;
    width: 50%;
    height: 40%;
  }
}

@media (max-width: 700px) {
  .outer {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  #b1 {
    background-color: greenyellow;
    flex-grow: 2;
    order: 0;
  }
  #b2 {
    background-color: green;
    flex-grow: 1;
    order: 0;
    width: 100%;
  }
  #b3 {
    background-color: yellow;
    flex-grow: 1;
    order: 0;
    width: 100%;
  }
}
