body{
    background-color:  whitesmoke;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.cc{
    display: flex;
    flex-grow: 1;
}
header{
    background-color: grey;
    flex-grow: 0;
    height: 50px;
    margin-bottom: 10px;
}
.c1{
    background-color: red;
    flex-grow: 1;
   
}

.c2{
    background-color: orange;
    flex-grow: 1;
   
}

.c3{
    background-color: yellow;
    flex-grow: 2;
    
}

.left{
    display: flex;
    flex-direction: column;
    flex-grow: 4;
}

footer{
    background-color: grey;
    margin-top: 10px;
    flex-grow: 0;
    height: 50px;
}

@media (max-width: 700px){
    .cc{
        flex-direction: column;
    }
}